__pycache__
data/*.csv
data/*.xlsx
results/*.csv
results/*.jpg
notebook/*.csv
notebook/*.xlsx
notebook/*.pkl
notebook/.ipynb_checkpoints
notebook/chromedriver
notebook/geckodriver
notebook/geckodriver.log
notebook/html/*
notebook/backup/*